.t-comment {
    color: #fff;
    font-size: 17px;
    font-weight: 301;
    position: relative;
    margin: 0 0 50px 0;
    text-transform: uppercase;
    display: inline-block;
}
.t-comment::after {
    content: "";
    width: 50%;
    position: absolute;
    height: 4px;
    border-radius: 1px;
    background: #F9FAFB;
    left: 0;
    bottom: -20px;
}
.n-font{
    font-size: 14px;
}

.p-font{
    font-size: 18px;
    color: black;
    font-weight: 301;
    position: relative;
    margin: 0 0 50px 0;
    text-transform: uppercase;
    display: inline-block;
}
.carousel {
    margin: 0px auto;
}
.carousel .item {
    color: #999;
    overflow: hidden;
    min-height: 120px;
    font-size: 13px;
}
.carousel .media {
    position: relative;
    padding: 0 0 0 20px;
    margin-left: 20px;
}
.carousel .media img {
    width: 75px;
    height: 75px;
    display: block;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border: 2px solid #fff;
}
.carousel .testimonial {
    color: #fff;
    position: relative;    
    background: #75CAEC;
    padding: 15px;
    margin: 0 0 20px 20px;
}
.carousel .testimonial::before, .carousel .testimonial::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -20px;
}
.carousel .testimonial::before {
    width: 20px;
    height: 20px;
    background: #75CAEC;
    box-shadow: inset 12px 0 13px rgba(0,0,0,0.5);
}
.carousel .testimonial::after {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #2f3b3e;
    border-left-color: #2f3b3e;
}
.carousel .item .row > div:first-child .testimonial {
    margin: 0 20px 20px 0;
}
.carousel .item .row > div:first-child .media {
    margin-left: 0;
}
.carousel .testimonial p {
    text-indent: 40px;
    line-height: 21px;
    margin: 0;
}
.carousel .testimonial p::before {
    content: '\94';
    color: #fff;
    font-weight: bold;
    font-size: 68px;
    line-height: 70px;
    position: absolute;
    left: -25px;
    top: 0;
}
.carousel .overview {
    padding: 3px 0 0 15px;
}
.carousel .overview .details {
    padding: 5px 0 8px;
}
.carousel .overview b {
    text-transform: uppercase;
    color: #b3c6ff;
}
.carousel .carousel-control {
    width: 30px;
    height: 30px;
    background: #264648;
    text-shadow: none;
    top: 4px;
    border: 1px solid #fff;
}
.carousel-control i {
    font-size: 16px;
}
.carousel-control.left {
    left: auto;
    right: 40px;
}
.carousel-control.right {
    left: auto;
}
.carousel-indicators {
    bottom: -60px;
}
.carousel-indicators li, .carousel-indicators li.active {
    width: 18px;
    height: 18px;
    border-radius: 0;
    margin: 1px 4px;
}
.carousel-indicators li {	
    background: #e2e2e2;
    border: 4px solid #fff;
}
.add-comment-button{
    text-align: center;
    margin-top: 30px
}
.carousel-indicators li.active {
    color: #fff;
    background: #1d46ba;    
    border: 5px double;    
}
.star-rating-t li {
    padding: 0 2px;
}
.star-rating-t i {
    font-size: 14px;
    color: #ffdc12;
}

.tt-comment {
    color: #000;
    font-size: 26px;
    font-weight: 300;
    position: relative;
    margin: 0 0 50px 0;
    text-transform: uppercase;
    display: inline-block;
}
.tt-comment::after {
    content: "";
    width: 50%;
    position: absolute;
    height: 4px;
    border-radius: 1px;
    background: #102AB7;
    left: 0;
    bottom: -20px;
}

.other-tour {
    color: #000;
    font-size: 20px;
    font-weight: 300;
    position: relative;
    margin: 0 0 50px 0;
    text-transform: uppercase;
    display: inline-block;
}
.other-tour::after {
    content: "";
    width: 41%;
    position: absolute;
    height: 4px;
    border-radius: 1px;
    background: #102AB7;
    left: 0;
    bottom: -20px;
}
.star-rating-t ul{
    margin-top: 10px;
}

.no-reviews{
    width: 100%;
    text-align: center;
    color: #fff;
}