.abcRioButtonLightBlue {
    background-color: #b91919 !important;
    color: #fff !important;
    text-transform: uppercase !important;
    height: 34px !important;
    width: 100% !important;
    box-shadow: none !important;
}
.abcRioButtonSvg{
    margin-left: 27px !important;
    height: 15px !important;
    margin-top: 1px !important;
}