@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);


#wrap {
    /*  margin: 50px 100px;*/
    display: inline-block;
    position: relative;
    height: 60px;
    float: right;
    padding: 0;
    position: relative;
}

.input-search[type="text"] {
    height: 35px;
    font-size: 15px;
    display: inline-block;
    font-family: "Lato";
    font-weight: 95;
    border: none;
    outline: none;
    color: #fff;
    padding: 3px;
    padding-right: 60px;
    width: 0px;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    z-index: 3;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
}

.input-search[type="text"]:focus:hover {
    border-bottom: 1px solid #fff;
}

.input-search[type="text"]:focus {
    width: 210px;
    z-index: 1;
    border-bottom: 1px solid #fff;
    cursor: text;
}
.input-search[type="submit"] {
    height: 46px;
    width: 46px;
    display: inline-block;
    color:red;
    float: right;
    background: url("../images/icon/magnifier-tool11.png") center center no-repeat;
    text-indent: -10000px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity .4s ease;
    margin-top: -8px;
}

.input-search[type="submit"]:hover {
    opacity: 0.8;
}

.city-list{
    float:left;
    list-style:none;
    margin-top:-18px;
    padding:0;
    width:190px;
    position: absolute;
    z-index: 1;
}
.city-list li{
    padding: 10px; 
    background: #f0f0f0;
    border-bottom: #bbb9b9 1px solid;
    color: #000;
}
.city-list li:hover{ 
    cursor: pointer;
    background: #0000ff !important;
    color: white !important; 
}
.selected{
    background: #0000ff !important;
    color: white !important;
}
.margin-bot-18{
    margin-bottom: 18px;
}

index-textbox-st{
    width: 263px;
    line-height: 1.3;
    font-size: 100%;
    padding: 8px;
    margin-bottom: 10px;
    height: 18px;
    border: 1px solid #e4e6e8;
    border-radius: 0;
    cursor: auto !important;
}


#taxi input[type="text"], #taxi input[type="number"],.taxi-combo {
    border: 2px solid #060644   !important;
    margin-top: 5px;
}

#taxi input[type="text"]:focus,.taxi-combo:focus {
    border: 2px solid #282860   !important;
}

.select-op-header{
    margin-bottom: 30px;
    font-family: 'Russo One', sans-serif;
    letter-spacing: 3px;
}

.select-ico-title{
    font-weight: 700;
}

.span-style{
    font-family: 'Magra', sans-serif; 
    font-size: 14px;
    color: #fff;
}

.top-link-button{
    background-color: #003366 !important;
    color: #fff;
}

.top-link-button:hover{
    background-color: #1d79ab !important;
    color: #fff;
}

.top-link-button:focus{
    background-color: #1d79ab !important;
    color: #1d79ab;
}