.header-base{
    width:100%;
    top:0;
    left:0;
    color:white;
    z-index:7;
    font-family:verdana;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    background-color: #003162;
}

.member-reg-login-container{
    padding-top: 10px;
    padding-bottom: 10px;
}
.member-login-btn-container{
    padding-top: 27px;
}
.member-login-btn{
    background-color: #2066aa;
    color: #fff;
}
.member-login-btn:hover{
    background-color: #1e7eda;
    color: #fff;
}
.member-login-btn:focus{
    background-color: #2066aa;
    color: #fff;
}
.member-log-body{

    width: 100%;
    margin-top: 20px;
}
.inputbox {
    width: 100%;
    height: 36px;
    border-radius: 5px 5px 5px 5px;
    background: white;
    padding: 12px;
    font-size: 17px;
    margin-top: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
}
.buttonreg {
    width: 250px;
    height: 40px;
    left: 750px;
    top: 625px;
    background: green;
    font-family: verdana;
    font-size: 18px;
    color: white;
    border-radius: 5px 5px 5px 5px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    cursor: pointer;
    outline: none;
    padding-left: 40px;
    padding-top: 6px;
    margin-bottom: 40px;
}
.policy-container{
    margin-top: 20px;
    margin-bottom: 15px;
}
.margin-l-20{
    margin-left:20px;
}
.intro1{
    left: 178px;
    top: 20px;
    font-family: verdana;
    font-size: 20px;
    color: #142170;
    height: 75px;
}
.member-img{
    width: 60%;
    margin-left: 70px;
}
.memeber-hed-logo{
    width: 125px;
    margin:5px;
}
.member-log-txtbox{
    width: 100%;
    color: #000;
}
.error-msg{
    padding-top: 10px;
    padding-bottom: 10px;
}
.social-log-buttons{
    width: 150px;
}
.social-log-buttons-1{
    width: 100px;
}
.login-footer{
    position: absolute; 
    width: 100%;
    background-color: #003162;
    height: 60px
}
.forget-password-link a{
    color: #fff;
}
@media (min-width: 320px) and (max-width: 640px) {
    .member-login-btn-container {
        padding-top: 0px !important;
    }
    .member-img {
        margin-left: 55px !important;
        width: 60% !important;
    }
    .buttonreg{
        margin-bottom: 50px;
        width: 100%;
    }
    .margin-l-20 {
        margin-left: 0px;
    }
    .social-log-buttons{
        width: 100%;
    }
}

