ol,
ul { list-style: outside none none; }

.tags {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    display: table;
    padding: 5px;
    width: 100%;
}

.tags li.tagAdd,
.tags li.addedTag {
    float: left;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.tags li.addedTag {
    background: none repeat scroll 0 0 #4267B2;
    border-radius: 5px;
    color: #fff;
    padding: 2px 5px;
    height: 26px;
}

.tags input,
li.addedTag {
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: none;
    display: block;
    padding: 2px;
    height: 26px;
}

.tags input:hover { border: 1px solid #bababa; }

span.tagRemove {
    cursor: pointer;
    display: inline-block;
    padding-left: 0.5em;
}

span.tagRemove:hover { color: #222222; }
.searchable {
    width: 25%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 120px;
}
.list-values {
    padding: 5px;
}
select[multiple], select[size] {
    height: 130px;
    background-color: #ccc;
}
.list-values:hover {
    background-color: #133f96;
    color: #fff;
}